#debugGuiFrame {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: rgb(115,140,153,1);
}

.debugGuiWindow {
    box-sizing: border-box;
    position: fixed;
}

.debugGuiWindow .borderFrame {
    box-sizing: border-box;
    border-style: solid;
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 100;
}

.debugGuiWindow .content {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.debugGuiWindow .titleBar {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
}

.debugGuiWindow .innerFrame {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.debugGuiWindow .resizeBtn {
    position: absolute;
    aspect-ratio: 1;
    /*background-color: rgba(255,255,255,0.1);*/
    z-index: 200;
}

.debugGuiWindow .resizeLine {
    box-sizing: content-box;
    background-clip: content-box;

    position: absolute;
    /*background-color: rgba(26, 255, 190, 1);*/

    /*border-block: solid 1px rgb(128,0,0);*/

    z-index: 200;
    pointer-events: none;
}

.debugGuiWindow .resizeLineHitbox {
    position: absolute;
    /*background-color: rgb(0,128,0,0.5);*/
    pointer-events: all;
    z-index: 201;
}

.debugGuiWindow .resizeBtn .triangle {
    position: absolute;
    /*background-color: rgba(255, 255, 255, 0.5);*/
    pointer-events: none;
    width: calc(100% - 3px);
    height: calc(100% - 3px);
    z-index: 200;
}